# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Node dependencies
node_modules/

# Environment / secrets
.env
.env.*
!.env.example

# Vercel
.vercel/

# Build files
dist/
build/
.next/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.git_backup/